.logo {
    border-width: 185.34px;
    height: 31.97px;
    margin-top: 42px;
    margin-left: 143.92px;
}

.navigation {
    min-width: 100%;
    min-height: 78px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 0px;
    margin-right:0px;
}

.productcutstomerspricingresources {
    max-width: 350px;
    min-height: 28px;
    margin-top: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    color: #2F281E;
    margin-inline:10px;
}

.signin .signup{
    display: inline-block;
}

.signin {
    border: 1px solid,#BCD0E5;
    border-radius: 4px;
    width: 102px;
    height: 46px;
    font-weight: 600;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color:#173A56;
    margin-top: 15px;
    margin-bottom: 17px ;
}

.signup {
    background-color: #FF9900;
    border-radius: 4px;
    width: 110px;
    height: 46px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF
}


.headercontents {
    block-size:518px 331px;
    margin-top: 113px;
    margin-left: 145px;
}

.headerh1 {
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 44px;
     line-height: 1.2;
     color: #2F281E;
}

h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    color: #544837;
    width: 458px;
    height: 95px;
}

.getstarted {
    background: #FF9900;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

.triangle {
    display: inline-block;
    background-color: #FF9900;
    border-top: 20px;
    border-left: 17px;
    border-bottom: 20px;
    border-radius: 1.125px;
    
}

 a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #FF9900;
}

.headerimage {
    position:relative;
    left: 766px;
    max-width: 605px;
    max-height: 496px;
  
    
}

.featureh1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #2F281E;
}





