.logo {
    border-width: 185.34px;
    height: 31.97px;
    margin-top: 42px;
    margin-left: 143.92px;
}

.navigation {
    min-width: 100%;
    min-height: 78px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 0px;
    margin-right:0px;
}

.productcutstomerspricingresources {
    max-width: 350px;
    min-height: 28px;
    margin-top: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    color: #2F281E;
    padding-left: 280px;
}

.pcpr {
    padding: 30px;
}
.signin .signup{
    display: inline-block;
}

.signin {
    border: 1px solid,#BCD0E5;
    border-radius: 4px;
    width: 102px;
    height: 46px;
    font-weight: 600;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color:#173A56;
    margin-top: 15px;
    margin-bottom: 17px ;
}

.signup {
    background-color: #FF9900;
    border-radius: 4px;
    width: 110px;
    height: 46px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF
}

.headercontents, .headerimage {
    display: inline-block;
}

.headercontents {
    block-size:518px 331px;
    margin-top: 113px;
    margin-left: 145px;
}

.headerh1 {
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 44px;
     line-height: 1.2;
     color: #2F281E;
     max-width: 518px;
}

.headerh4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    color: #544837;
    width: 458px;
    height: 95px;
}

.getstarted {
    background: #FF9900;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

.triangle {
    display: inline-block;
    background-color: #FF9900;
    border-top: 20px;
    border-left: 17px;
    border-bottom: 20px;
    border-radius: 1.125px;
    
}

 a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #FF9900;
}

.headerimage {
    float: right;
    max-width: 605px;
    max-height: 496px;
    padding-top: 30px;
    
   
}

.feature {
    text-align: center;
}

.featureh1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #2F281E;
    max-width: 539px;
    margin-left: auto;
    margin-right: auto;
}

.featurecard1, .featurecard2, .featurecard3, .featurecard4 {
    display: inline-block;
   
    
   
}

.featureh4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    color: #2F281E;

}

.featuretext1, .featuretext2, .featuretext3, .featuretext4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #544837;
    width: 240px;
    height: 178px;
}

.signupnow {
    text-align: center;
    background: #FF9900;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    
}

.featurebackground {
    background-image: url('../img/Feature.png');
    background-position: bottom;
    max-width: 2211px;
    background: linear-gradient(179.93deg, rgba(255, 229, 210, 0.629261) 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
    transform: rotate(180deg);

}

.validationtext, .validationimage {
    display: inline-block;
    max-width: 1110px;
}

.validationtext {
    margin-left:145px;
    width: 486px;
    height: 531px;


    margin-top:146px;
}

.validationimage {
    margin-right: 145;
}


.validations {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;   
    font-size: 16px;
    line-height: 1.5;
    color: #544837;
   
}

.validationh1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    color: #2F281E;

}

.validationh4 {
    font-family: Poppins;
    font-style: bold;
    font-weight: 500;   
    font-size: 16px;
    line-height: 1.5;
    color: #544837;
}

.validationimage {
    float:right;
}

.productmanagers {
    max-width: 1121px;
    max-height: 521px;
    margin-top:120px;
}

.productmanagerstext, .productmanagersimage {
    display: inline-block;
    margin-top: 120px;
}

.productmanagersimage {
    float: left;
    
}

.marketerstext, .marketersimage {
    display: inline-block;
}

.marketersimage {
    float: right;
}






.footer {
    width:1109px;
    height:308px;
    margin-top: 146px;
    margin-left:160px;
}